<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column">
                <h1 class="title is-size-2">
                    Perfil
                </h1>
                <h4 class="subtitle is-size-5">
                    Este es tu perfil
                </h4>
            </div>
        </div>
        <div class="columns">
            <div class="column is-one-third">
                <div class="box">
                    <h3 class="is-size-4"><strong>{{user.nombre}} {{user.apellido}}</strong></h3>
                    <p class="is-size-5">Usuario: {{user.username}}</p>
                </div>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <p class="is-size-5">Mira tus links almacenados <a href="/links">aquí</a>.</p>
            </div>
        </div>
    </div>
</section>