<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column">
                <h1 class="title is-size-2">
                    Profile
                </h1>
                <h4 class="subtitle is-size-5">
                    This is your profile
                </h4>
            </div>
        </div>
        <div class="columns is-multiline">
            <div class="column is-one-third has-text-centered is-offset-one-third">
                <div class="box">
                    <h3 class="is-size-3">Welcome</h3>
                    <h3 class="is-size-3">{{user.nombre}} {{user.apellido}}</h3>
                    <p class="is-size-4">Username: {{user.username}}</p>
                    <p class="is-size-5">Look at your links <a href="/links">here</a>.</p>
                </div>
            </div>
        </div>
    </div>
</section>