<!DOCTYPE html>
<html>  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>LinkBox</title>
    <link rel="shortcut icon" href="/img/favicon.svg" type="image/x-icon">
    {{!-- Bulma CSS --}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
    {{!-- FontAwesome JS --}}
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    {{!-- Custom CSS --}}
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
      {{> nav }}
      {{#if success}}
        <div class="columns" id="message">
          <div class="column is-one-third is-offset-one-third success-message">
            <article class="message is-success">
                <div class="message-header">
                    <p>Huzzah!</p>
                    <button class="delete" aria-label="delete" onclick="closeMessage()"></button>
                </div>
                <div class="message-body">
                    {{success}}
                </div>
            </article>
          </div>
        </div>
      {{/if}}

      {{#if failure}}
        <div class="columns" id="message">
          <div class="column is-one-third is-offset-one-third success-message">
            <article class="message is-danger">
                <div class="message-header">
                    <p>Ups!</p>
                    <button class="delete" aria-label="delete" onclick="closeMessage()"></button>
                </div>
                <div class="message-body">
                    {{failure}}
                </div>
            </article>
          </div>
        </div>
      {{/if}}

      {{{ body }}}
      <script src="/js/burger.js"></script>
      <script src="/js/functions.js"></script>
  </body>
</html>