<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-one-third is-offset-one-third">
                <div class="box">
                    <img class="img-form" src="/img/link-app-logo-big.png" alt="">
                    <h2 class="title is-size-4 has-text-centered">Inicia sesión</h2>
                    <hr>
                    <form action="/signin" method="POST"> 
                        <div class="field">
                            <label class="label">Usuario</label>
                            <div class="control">
                                <input type="text" class="input" name="username" required autofocus>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Contraseña</label>
                            <div class="control">
                                <input type="password" class="input" name="password" required>
                            </div>
                        </div>
                        <div class="field">
                            <div class="control">
                                <button class="button is-primary is-fullwidth">
                                    Ingresa
                                </button>
                            </div>   
                        </div>
                    </form>
                </div>
                <div class="field">
                    <div class="control">
                        <a href="/" class="button is-white is-fullwidth">
                            Volver
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>