<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-one-third is-offset-one-third">
                <div class="box">
                    <img class="img-form" src="/img/link-app-logo-big.png" alt="">
                    <h2 class="title is-size-4 has-text-centered">Regístrate gratis</h2>
                    <h2 class="subtitle is-size-6 has-text-centered">Comienza a guardar todos tus links favoritos hoy mismo!</h2>
                    <hr>
                    <form action="/signup" method="POST"> 
                        <div id="nombre" class="field">
                            <label class="label">Nombre</label>
                            <div class="control">
                                <input type="text" class="input" name="nombre" required>
                                <p class="help is-danger is-hidden">Este campo es requerido</p>
                            </div>
                        </div>
                        <div id="apellido" class="field">
                            <label class="label">Apellido</label>
                            <div class="control">
                                <input type="text" class="input" name="apellido" required>
                                <p class="help is-danger is-hidden">Este campo es requerido</p>
                            </div>
                        </div>
                        <hr>
                        <div id="username" class="field">
                            <label class="label">Usuario</label>
                            <div class="control">
                                <input type="text" class="input" name="username" required>
                                <p class="help is-danger is-hidden">Este campo es requerido</p>
                            </div>
                        </div>
                        <div id="password" class="field">
                            <label class="label">Contraseña</label>
                            <div class="control">
                                <input type="password" class="input" name="password" required>
                                <p class="help is-danger is-hidden">Este campo es requerido</p>
                            </div>
                        </div>
                        <div id="repassword" class="field">
                            <label class="label">Confirma tu contraseña</label>
                            <div class="control">
                                <input type="password" class="input" name="repassword" required>
                                <p class="help is-danger is-hidden">Este campo es requerido</p>
                            </div>
                        </div>
                        <div class="field">
                            <div class="control">
                                <button class="button is-primary is-fullwidth">
                                    Regístrate!
                                </button>
                            </div> 
                        </div>
                    </form>
                </div>
                <div class="field">
                    <div class="control">
                        <a href="/" class="button is-white is-fullwidth">
                            Volver
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>