<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-one-third is-offset-one-third">
                <div class="box">
                    <h2 class="title is-size-4 has-text-centered">Sign up bro!</h2>
                    <hr>
                    <form action="/signup" method="POST"> 
                        <div id="nombre" class="field">
                            <label class="label">First Name</label>
                            <div class="control">
                                <input type="text" class="input" name="nombre" required>
                                <p class="help is-danger is-hidden">This field is required</p>
                            </div>
                        </div>
                        <div id="apellido" class="field">
                            <label class="label">Last Name</label>
                            <div class="control">
                                <input type="text" class="input" name="apellido" required>
                                <p class="help is-danger is-hidden">This field is required</p>
                            </div>
                        </div>
                        <hr>
                        <div id="username" class="field">
                            <label class="label">Username</label>
                            <div class="control">
                                <input type="text" class="input" name="username" required>
                                <p class="help is-danger is-hidden">This field is required</p>
                            </div>
                        </div>
                        <div id="password" class="field">
                            <label class="label">Password</label>
                            <div class="control">
                                <input type="password" class="input" name="password" required>
                                <p class="help is-danger is-hidden">This field is required</p>
                            </div>
                        </div>
                        <div id="repassword" class="field">
                            <label class="label">Confirm your Password</label>
                            <div class="control">
                                <input type="password" class="input" name="repassword" required>
                                <p class="help is-danger is-hidden">This field is required</p>
                            </div>
                        </div>
                        <div class="field">
                            <div class="control">
                                <button class="button is-primary is-fullwidth">
                                    Sign Up
                                </button>
                            </div> 
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>